<%- include('partials/header'); -%>

<div class="card">
    <h5 class="card-header">Home</h5>
    <div class="card-body">
      <p class="card-text">
          Welcome to this blog add your own content .
           <br>Click on Add button to add content
           <br> Click on the Read more on the Posts to see full Post 
      </p>
    </div>
  </div>
<hr>
 <% posts.forEach(ele=>{ %>
  <div class="card post">
    <h5 class="card-header"><%= ele.name %></h5>
    <div class="card-body">
      <p class="card-text"><%= ele.content.substring(0,100) %>.... <br><br> <a href="posts/<%=ele.name%>" class="btn btn-primary">Read more</a></p>
    </div>
  </div>
 <% }) %>
 <%- include('partials/footer'); -%>